*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    background: tomato;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.form{
    width: 350px;
    padding: 2rem;
    background: #212121;
}
form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 1rem;
}
form h1{
    color: tomato;
    text-align: center;
    width: 100%;
}
form input{
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    padding-inline: 1rem;
    background: #323232;
    color: #fff;
}
form input:focus{
    border-bottom: 2px solid tomato;
    color: tomato;
}
a{
    font-size: 0.8rem;
    text-decoration: none;
    color: #fff;
    
}
.links-box{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
a:nth-child(2){
    font-weight: 600;
    color: tomato;
}
form button{
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    background: tomato;
    color: #fff;
    cursor: pointer;
}
.password-Show{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 1rem;
}
.password-Show input{
    height: 16px;
    width: 16px;
}